<img src="{{product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
<article class="product description">
  <h3>{{product.title}}</h3>
  <h4>{{product.price | money}}</h4>
    <form action="/cart/add" method="post">
    {% if product.variants.size == 1 %}
    {% for variant in product.variants %}
    <input name="id" type="hidden" value="{{variant.id}}">
    {% endfor %}
    {% endif %}
    <input type="submit" name="add" value="Purchase">
  </form>
  <p>{{product.description}}</p>
</article>
